.*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    background-color: aliceblue;
    
}

a,a:link,a:visited,a:hover,a:active{
    color: pink;
    text-decoration: none;
}

.style-me{
    font-size: 150px !important;
}

img{
    width:20%;
    background-color: grey;
    display: inline-block;
    margin-left: 41%;
    margin-right: 25%;
    margin-bottom: 30px;
}

p{
    text-align: center;
    
}
/*---HEADING---*/ 
h1{
    font-weight: 700;
    color: #00DDF0;
    text-align: center;
}

.title{
    width:auto;
    margin-bottom: 5%;
    
}

/*---Content---*/
.content{
    margin: 0 auto;
    text-align: center;
}

.content-block{
    display: inline-block;
    background-color: #00DDF0;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    margin-bottom: 10px;
    
    
    

    /*
background-color: #00DDF0;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    margin-left: 25%;
    margin-right: 25%;
    height: auto;
    width: auto;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 200px;
*/
    
    
}

#temperature{
    display: inline;
}
#degree{
    display: inline-block;
    color: pink;
}


